---
---

@import "minimal-mistakes";

body {
  background-image: url("/RGHIKE/assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.page__content, .archive, .page, article.page, .page__inner-wrap {
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding: 1em;
  border-radius: 6px;
}
.masthead {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5em;
  border-radius: 6px;
  margin: 1em 0;
}
